//fonts
$font: "Roboto", sans-serif;

//colors
$decorate-color: #EE7235;

//breakpoints
$screen-xl-min: 1200px;

//sizes
$base: 16px;

//functions
@function px-to-rem($number) {
  @return calc($number * 1rem / $base);
}
